/// @author: Elvis Helry
/// Configuracoes para o site Verum

/// Fontes
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Slab');

$font01: 'Roboto', sans-serif;
$font02: 'Roboto Slab', serif;

// Cores
$cor01: #717171;
$cor02: #FFB551;
$cor03: #05A2FF;
$cor04: #FFFFFF;
